body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: green;

}
h1{
    color: brown;
    text-align: center;
    padding: 20px;
}
h2{
    color: darkblue;
    margin-left: 15px;
}
p{
    font-size: 30px;
    line-height: 1.2;
    margin: 15px;
}